{% extends "base.html.twig" %}
{% block title %}
	Création d'une Catégorie
{% endblock %}
{% block body %}
	<h1>Création d'une Catégorie</h1>
	{{form_start(formView)}}
	{{form_errors(formView)}}
	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
		</div>
	</div>
	<button type="submit" class="btn btn-primary mt-2">
		<i class="fas fa-save">
			Enregistrer</i>
	</button>
	{{form_end(formView)}}
{% endblock %}
