{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block body %}
	<h1>Nos produits phares
	</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" with {'p':product} %}
			</div>

		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae saepe deleniti architecto vero fugit.</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {"color":'primary', "icone":'fas fa-truck', "text":"Ici c'est le top !"} %}

		{% include "shared/_assurance.html.twig" with {"color":'success', "icone":'fas fa-check', "text":"Ici c'est le top !"} %}

		{% include "shared/_assurance.html.twig" with {"color":'warning', "icone":'fas fa-lock', "text":"Ici c'est le top !"} %}
	</div>
{% endblock %}
